<mat-drawer-container class="h-screen !bg-white" autosize>
    <mat-drawer #drawer class="border-r !w-60 p-2 !bg-white" mode="side" opened>
        <select-multi [_oil_companies]="oilCompanies" (changeEvent)="selectedCompanies($event)"></select-multi>

        <div class="mt-8">
            @for (item of _selectedCompanies; track $index) {
            <badge-preview [name]="item" />
            }
        </div>
    </mat-drawer>

    <div class="border-l h-full">

        @if (oilCompaniesWithData) {
        <chart [inputData]="oilCompaniesWithData"></chart>
        }
    </div>

</mat-drawer-container>